@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Helvetica Nueu';
    src: local('Helvetica Nueu'), url("../assets/fonts/HelveticaNeue.ttc");
}

@tailwind utilities;

.menu-item:hover ul {
    @apply block
}

.menu-item:hover img {
    @apply -rotate-90
}

.menu-visible {
    @apply translate-y-0
}

.body-noScroll {
    @apply overflow-hidden
}

#code br {
    content: "";
    @apply block mt-0
}
